.rodape {
  background-color: #6278F7;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}


.rodape ul li {
  display: inline-block;
  margin-right: 32px;
}

.rodape ul li:last-child {
  margin-right: 0;
}